{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}



<div class="bg-dark text-secondary px-4 py-5 text-center">
      {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}<div class="alert alert-success" role="alert">
        {{ message }}
    </div>{% elif message.tags == 'error' %}<div class="alert alert-danger" role="alert">
        {{ message }}
    </div>{% endif %}
  {% endfor %}
{% endif %}
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Resource Management Tool</h1>
        <br>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">This tool will be used for adding, importing and exporting single and multiple associates at once.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

        </div>
      </div>
    </div>
  </div>


{% endblock %}