{% extends 'base.html' %}

{% block title %}Add Associate{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<main class="content">

	<div class="container-fluid p-0">

        <h1 class="h3 mb-3">Add New Employee</h1>

        <div class="row">

            <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Single</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Click below if you wish add single employee.</p>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#singleModal">Add now</button>
                                        </div>
                                    </div>
            </div>

            <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Bulk</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Click below if you wish add multiple employees in bulk.</p>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bulkModal">Add now</button>
                                        </div>
                                    </div>
            </div>

        </div>

    </div>

</main>



<div class="modal fade" id="singleModal" tabindex="-1" aria-labelledby="singleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
<!--        <h5 class="modal-title" id="singleModalLabel">Add Associate</h5>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form method="POST">
            {% csrf_token %}
            <div class="card-body">
              {{ form|crispy }}

      <!--             <div class="btn-block">-->
      <!--                <button type="submit" class="btn btn-primary" style="width:auto">Submit</button>-->
      <!--              </div>-->
                  </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="bulkModal" tabindex="-1" aria-labelledby="bulkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
<!--        <h5 class="modal-title" id="bulkModalLabel">Add Associates in Bulk</h5>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form action="{% url 'bulk_import_associates' %}" method="post" enctype="multipart/form-data" id="bulk_import_associates">
             {% csrf_token %}


            <div class="card-body">

                <div class="mb-2">
                  <label for="formFile" class="form-label">Select the excel sheet</label>
                  <input class="form-control" type="file" id="formFile" name="bulk_file">
                </div>
                <br>

                <a href="{% url 'download_sample_format' %}">Click to download sample format</a>

      <!--             <div class="btn-block">-->
      <!--                <button type="submit" class="btn btn-primary" style="width:auto">Submit</button>-->
      <!--              </div>-->
            </div>

        </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Import</button>
            </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}



