{% extends 'base.html' %}

{% block title %}Associate List{% endblock %}
{% block content %}

<div class="main-title">
<!--          <p class="font-weight-bold">Associate List</p>-->
    <h2>Associate List</h2><a style="float: right; margin-right:10px;">something</a>

          </div>



<br>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}<div class="alert alert-success" role="alert">
        {{ message }}
    </div>{% elif message.tags == 'error' %}<div class="alert alert-danger" role="alert">
        {{ message }}
    </div>{% endif %}
  {% endfor %}
{% endif %}

        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Emp ID</th>
              <th scope="col">Name</th>
              <th scope="col">DOJ</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          {% for associate in associates %}
            <tr>
              <td>{{associate.yash_emp_id}}</td>
              <td>{{associate.emp_name}}</td>
              <td>{{associate.date_of_joining}}</td>
              <td>{{associate.grade}}</th>
            </tr>
          {% empty %}
            <li>No Associates added yet.</li>
          {% endfor %}
          </tbody>
        </table>

      </div>


{% endblock %}
