{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
      {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}<div class="alert alert-success" role="alert">
        {{ message }}
    </div>{% elif message.tags == 'error' %}<div class="alert alert-danger" role="alert">
        {{ message }}
    </div>{% endif %}
  {% endfor %}
{% endif %}
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Associate List</h1>
      <br>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold" href="{% url 'add_associate_home' %}">Add</a>
          <a type="button" class="btn btn-outline-light btn-sm px-3" href="{% url 'export_associate_data' %}">Export</a>
        </div>
      <br>
      <div class="col-lg-6 mx-auto">

        <table class="table table-dark table-sm">
          <thead>
            <tr>
              <th scope="col">Emp ID</th>
              <th scope="col">Name</th>
              <th scope="col">DOJ</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          {% for associate in associates %}
            <tr>
              <td>{{associate.yash_emp_id}}</td>
              <td>{{associate.emp_name}}</td>
              <td>{{associate.date_of_joining}}</td>
              <td>{{associate.grade}}</th>
            </tr>
          {% empty %}
            <li>No Associates added yet.</li>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock %}