{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}





<!--    <div class="bg-dark text-secondary px-4 py-5 text-center">-->
<!--      -->
<!--    <div class="py-5">-->
<!--      <h1 class="display-5 fw-bold text-white">Resource Management Tool</h1>-->
<!--      <div class="col-lg-6 mx-auto">-->
<!--        <p class="fs-5 mb-4">This tool will be used for adding, importing and exporting single and multiple associates at once. Please select the appropriate button below to import single or bulk associates.</p>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


        <div class="main-title">
          <h2>Dashboard</h2>

        </div>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}<div class="alert alert-success" role="alert">
        {{ message }}
    </div>{% elif message.tags == 'error' %}<div class="alert alert-danger" role="alert">
        {{ message }}
    </div>{% endif %}
  {% endfor %}
{% endif %}

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">PRODUCTS</p>
              <span class="material-icons-outlined text-blue">inventory_2</span>
            </div>
            <span class="text-primary font-weight-bold">249</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">PURCHASE ORDERS</p>
              <span class="material-icons-outlined text-orange">add_shopping_cart</span>
            </div>
            <span class="text-primary font-weight-bold">83</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">SALES ORDERS</p>
              <span class="material-icons-outlined text-green">shopping_cart</span>
            </div>
            <span class="text-primary font-weight-bold">79</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">INVENTORY ALERTS</p>
              <span class="material-icons-outlined text-red">notification_important</span>
            </div>
            <span class="text-primary font-weight-bold">56</span>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <p class="chart-title">Top 5 Products</p>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Purchase and Sales Orders</p>
            <div id="area-chart"></div>
          </div>

        </div>






{% endblock %}

